.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 101;
    animation: slide-in 0.5s ease-in-out;
}

.cart-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #242424;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 30rem;
    z-index: 100;
    animation: slide-in 0.5s ease-in-out;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cart-wrapper::-webkit-scrollbar {
    display: none;
}

.cart-heading {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.cart-items {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: .5rem;
    gap: 1rem;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #2e2e2e;
    color: #fff;
    font-size: 1rem;
    gap: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.cart-item__div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-item__div button {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-footer__total {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: gray;
}

.cart-footer__checkout {
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
}

.cart-footer__checkout:hover {
    background-color: #fff;
    color: #000;
}

.success {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-top: 1rem;
}


@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 768px) {
    .cart-wrapper {
        width: 70%;
    }

    .cart-footer__total {
        font-size: 1rem;
    }

    .cart-footer__checkout {
        font-size: 1rem;
    }

    .success {
        font-size: 1.2rem;
    }

    .cart-item__div button {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .cart-wrapper {
        width: 90%;
    }

    .success {
        font-size: 1rem;
    }

    .cart-item__div button {
        font-size: 0.7rem;
    }
}