.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
    animation: slide-in 0.5s ease-in-out;
}

.cart-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #242424;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 30rem;
    z-index: 100;
    animation: slide-in 0.5s ease-in-out;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cart-wrapper::-webkit-scrollbar {
    display: none;
}

.cart-heading {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.cart-items {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: .5rem;
    gap: 1rem;
}

.cart-item {
    align-items: center;
    background-color: #303030;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: hsla(0, 20%, 96%, 0.87);
}

.cart-item__div {
    align-items: center;
    color: #999;
    display: flex;
    font-size: .8rem;
    gap: .6rem;
}

.cart-item__div button {
    align-items: center;
    background-color: #2e2e2e;
    border: 1px transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 24px;
    width: 24px;
    justify-content: center;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-footer__total {
    font-size: 1.5rem;
    font-weight: 400;
    color: gray;
}

.cart-footer__checkout {
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
}

.cart-footer__checkout:hover {
    background-color: #fff;
    color: #000;
}

.success {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-top: 1rem;
}


@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}