.bg-img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://res.cloudinary.com/dp8ne3hkc/image/upload/q_100/v1678865620/bg_u027j8.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}