.store {
    display: flex;
    height: 100%;
    width: 100%;
}

.store> :first-child {
    width: 270px;
    padding: 4rem;
}

.store> :last-child {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4rem;
}